<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Current team member</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% for(let person of members){ %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
      </tr>
      <% } %>
    </table>
    <form action="/api/members" method="post">
      <input type="text" placeholder="name" name="name" >
      <input type="email" placeholder="email" name="email" >
      <button type="submit">Add member</button>
    </form>
  </body>
</html>
